<p>This is the header.</p>
<ul>
	<li><%= link_to "Home", :action => "index", :controller => "static" %></li>
	<li><%= link_to "About us", :action => "about", :controller => "static" %></li>
	<li><%= link_to "Contact", :action => "contact", :controller => "static" %></li>
</ul>