<p>This is the header.</p>
<ul>
	<li><%= link_to "Home", :action => "index" %></li>
	<li><%= link_to "About us", :action => "about" %></li>
	<li><%= link_to "Contact", :action => "contact" %></li>
</ul>