<h1>Listing posts</h1>

  <div class="post">
    <% @posts.each do |post| %>
      <div class="post_info">
        <% title = post.title %>
        <p><%= link_to title, post %></p>
      </div>
      <div class="post content">
        <span><%== post.text %></span>
        <% if signed_in? %>
          <p><%= link_to 'Edit', edit_post_path(post) %></p>
          <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>