<h1>New post</h1>

<%= render 'form' %>

	<script type="text/javascript">$(document).ready(function() {
	    if ($('textarea').length > 0) {
	        var data = $('textarea');
	        $.each(data, function(i) {
	            CKEDITOR.replace(data[i].id);
	        });
	    }
	});</script>

<%= link_to 'Back', posts_path %>

